<div class="container-root">
  <md-toolbar color="primary" class="container-header whiteframe-1dp">
    <button md-icon-button (click)="backToMenu()">
      <i class="material-icons">arrow_back</i>
    </button>
    <span class="header-title">{{storyTitle}}</span>
  </md-toolbar>
  <div class="container-body" id="container-body">
    <div class="app-content">
      <md-card [class.max-over-card]="isOverCardWidth">
        <!--<md-spinner *ngIf="nowloading" class="image-spinner"></md-spinner>-->
        <img md-card-image src="{{storyImageUrl}}" class="image-main"
          (load)="completeLoadImage()"
          [@imageFade]="imageVisible"
          (@imageFade.done)="imageAnimationDone($event)">
        <md-card-actions *ngIf="!nowloading">
          <div style="float: left">
          </div>
          <div style="text-align: right">
            <button md-button (click)="prevImage()"><i class="material-icons">arrow_back</i></button>
            <button md-button (click)="nextImage()"><i class="material-icons">arrow_forward</i></button>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
