/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/purple-green.css';

body {
  margin: 0;
  background: black;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}
